/.org-id-locations
/Stew.el
/Stew.html
/Stew.md
/bookmarks
/eshell/
/ensime
/projectile-bookmarks.eld
/projectile.cache
/var/
/url/
/games/
/elpa/
ido.last
session.*
tramp
recentf
ac-comphist.dat
smex-items
